:go:func
    Post(invoice *dto.Invoice, expenseGroups dto.ExpenseGroupMap, history *dto.History)
:go:import
    dto "github.com/artsafin/ofa-go/dto"

p Please approve the following items to be included in:
h3 #{invoice.InvoiceDateYm()} Invoice

table(border="0" cellpadding="2" cellspacing="0" width="80%" class="standart")
    thead
        tr
            th(width=400) Item
            th(width=100) Category
            th(width=500) Comment
            th RUB
            th EUR
    tbody
        for group in expenseGroups
            for expense in group.Items
                tr
                    td #{expense.Subject}
                    td #{expense.Category}
                    td #{expense.Comment}
                    td(align="right") #{expense.AmountRub.String()}
                    td(align="right") #{expense.AmountEur.String()}
            tr
                td
                td
                    b #{group.Name}
                td
                td(align="right") #{group.TotalRub.String()}
                td(align="right") #{group.TotalEur.String()}
        tr
            td
            td
                b Expenses Total
            td
            td
            td(align="right") #{invoice.Subtotal}
        tr
            td
            td
            td
            td
                b Return of rounding
            td(align="right" style="color: red") -#{invoice.ReturnOfRounding.String()}
        tr
            td
            td
            td #{invoice.Hours} hours
            td
                b Rounding
            td(align="right") #{invoice.HourRateRounding.String()}
        tr
            td
            td
            td
            td
                b Total
            td(align="right") #{invoice.TotalEur.String()}

h3 Report on money usage (#{history.FirstInvoice.InvoiceDateYm()} &ndash; #{history.LastInvoice.InvoiceDateYm()})
table(border="0" cellpadding="2" cellspacing="0" width="80%" class="standart")
    thead
        tr
            th(width=160) Invoice
            th(width=230) Subject
            th(width=90) Tag
            th(width=40) Status
            th(width=150) Requested Amount RUB
            th(width=150) Actually spent
            th(width=150) Pending spend
            th(width=150) Under/over-use
            th(width=310) Pending spend comment
    tbody
        for invoice in history.Invoices
            tr(bgcolor= invoice.HasPendingSpends() ? "#F6F9D4" : "#EEEEEE")
                td #{invoice.No}
                td
                td
                td #{invoice.Status}
                td #{invoice.ExpensesRub}
                td #{invoice.ActuallySpent}
                td #{invoice.PendingSpend}
                td #{invoice.Balance}
                td
        for expense in history.LastInvoice.Expenses
            tr(bgcolor= expense.HasPendingSpends() ? "#F6F9D4" : "#FFFFFF")
                td #{expense.Invoice}
                td #{expense.Subject}
                td #{expense.Category}
                td #{expense.Status}
                td #{expense.AmountRub}
                td #{expense.ActuallySpent}
                td #{expense.PendingSpend}
                td #{expense.Balance}
                td
        tr(style="font-weight: bold")
            td #{history.LastInvoice.No} Subtotal
            td
            td
            td
            td #{history.LastInvoice.ExpensesRub}
            td #{history.LastInvoice.ActuallySpent}
            td #{history.LastInvoice.PendingSpend}
            td #{history.LastInvoice.Balance}
            td
        tr(style="font-weight: bold")
            td Grand total
            td
            td
            td
            td #{history.GrandTotal.ExpensesRub}
            td #{history.GrandTotal.ActuallySpent}
            td #{history.GrandTotal.PendingSpend}
            td #{history.GrandTotal.Balance}
            td
p
    br
    br

p The signed invoice from my side is in attachment.
